.format1{
    display: flex;
}

.format2{
    display: inline;
}

.profilecards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
    margin-left: 300px;
    margin-top: 200px;
}

.profilecards-single {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;

}

.profilecards-single div:last-child span {
    font-size: 3rem;
    color: var(--main-color);
}

.profilecards-single div:first-child span {
    color: var(--text-grey);
}
