.logincontainer>input[type=text],
.logincontainer>input[type=password] {
    width: 99%;
    height: 40px;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.loginbtn>button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 50%;
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 70px;
    border-radius: 50%;
}

.logincontainer {
    color: white;
    width: 432px;
    margin-top: 250px;
    margin-left: 750px;
    border-radius: 25px;
    padding: 16px;
    background-color: rgb(16, 108, 184);
}

span.forgot_password {
    float: right;
}
