.create {
    background-color: #333;
    color: white;
    width: 400px;
    margin-left: 850px;
    margin-top: 200px;
    border-radius: 20px;
    opacity: 80%;
}

.create-form>label, .create-form>input{
   margin: 30px 10px 10px 10px;
}

.create-form>button{
    margin: 20px 45px 30px 25px;
    width: 90px;
    border-radius: 10px;
   
    padding: 10px;
}

input[type="text"].postdetails {
    height: 50px;
    width: 92.5%;
}